jenkins:
  port: 80
  home: /var/lib/jenkins
  rc-release: False
  user: jenkins
  group: jenkins
  master_url: http://localhost:80
  config:
    - jenkins_port: 80
  plugins:
    installed:
      - greenballs
  pkgs:
    - jenkins
{% if grains['os_family'] == 'RedHat' %}
    - dejavu-sans-fonts
    - fontconfig
{% elif grains['os_family'] == 'Debian' %}
    - ttf-dejavu
{% endif %}