{% set jenkins = salt['grains.filter_by']({
    'rc-release': False,
    'pkgs': ['jenkins'],
    'deb_apt_source': '/etc/apt/sources.list.d/jenkins-ci.list',
    'netcat_pkg': 'netcat-openbsd',
    'user': 'jenkins',
    'group': 'jenkins',
    'home': '/var/lib/jenkins',
    'port': '80',
    'cli_path': '/var/cache/jenkins/jenkins-cli.jar',
    'master_url': 'http://localhost:80',
    'config': {
        'jenkins_port': 8080,
    },
    'plugins': {
        'updates_source': 'http://updates.jenkins-ci.org/update-center.json',
        'installed': [],
        'disabled': [],
    },
    'jobs': {
        'installed': {},
        'absent': []
    }
}, merge=salt['pillar.get']('jenkins')) %}
